certifi==2024.2.2
charset-normalizer==3.3.2
efficientnet-pytorch==0.7.1
filelock==3.13.1
fsspec==2024.2.0
huggingface-hub==0.21.4
idna==3.6
numpy==1.26.4
packaging==23.2
pillow==10.2.0
PyYAML==6.0.1
requests==2.31.0
safetensors==0.4.2
timm==0.9.12
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
torchvision==0.14.1+cu117
tqdm==4.66.2
typing_extensions==4.10.0
urllib3==2.2.1
